/* CSS classes for colors */
.bg-pink-100 {
    background-color: #ffe5ec;
  }
  
  .bg-pink-300 {
    background-color: #ff66a3;
  }
  
  .bg-green-100 {
    background-color: #d9ffd6;
  }
  
  .bg-green-300 {
    background-color: #21e36c;
  }
  
  .bg-lightblue-100 {
    background-color: #d5e9ff;
  }
  
  .bg-lightblue-300 {
    background-color: #3f9cff;
  }
  
  .bg-red-100 {
    background-color: #ffdddd;
  }
  
  .bg-red-300 {
    background-color: #ff8080;
  }
  
  .bg-teal-100 {
    background-color: #cbf7f7;
  }
  
  .bg-teal-300 {
    background-color: #00e5e5;
  }
  
  .bg-yellow-100 {
    background-color: #fffde1;
  }
  
  .bg-yellow-300 {
    background-color: #f9ed00;
  }
  
  .bg-purple-100 {
    background-color: #ecdaff;
  }
  
  .bg-purple-300 {
    background-color: #b755ff;
  }
  
  .bg-orange-100 {
    background-color: #ffe0b3;
  }
  
  .bg-orange-300 {
    background-color: #ffaa00;
  }
  
  .bg-cyan-100 {
    background-color: #b3fff7;
  }
  
  .bg-cyan-300 {
    background-color: #00d9c0;
  }
  
  .bg-indigo-100 {
    background-color: #e2daff;
  }
  
  .bg-indigo-300 {
    background-color: #7e62ff;
  }
  