body {
    background: linear-gradient(to bottom, #4286f4, #00d7ff);
  }
  
  td.well {
    position: relative;
    /* Add this to enable absolute positioning of volume element */
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .volume-text {
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .preset-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .preset-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: none;
  }
  
  td.even-row {
    background-color: #f2f2f2;
  }
  
  td.odd-row {
    background-color: #fff;
  }
  
  td.even-col {
    border-right: 2px solid #ddd;
  }
  
  td.odd-col {
    border-left: 2px solid #ddd;
  }
  
  td.selected {
    background-color: green;
  }
  
  td.highlighted {
    background-color: yellow;
  }
  
  p#selectedWells {
    font-size: 1.2em;
    font-weight: bold;
  }
  